---
import Layout from "../layouts/BlogPost.astro";

const OPEN_CURLY = "{";
const CLOSE_CURLY = "}";
---

<Layout
  title="About Me"
  description="Some about Brandon"
  pubDate={new Date("February 21 2023")}
  heroImage="/increasing-abstraction.webp"
  heroImageSubtext="DALL-E prompt: Generate an image that represents the \
increasing abstraction built upon computer hardware. I'd like to showcase \
transistors being abstracted to RTL, RTL abstracted to CPUs, CPUs \
abstracted with code and operating systems, and the code abstracted to magic."
>
  <p>
    Just another tech blog. I have some personal projects, work experience, and hopefully
    interesting and or fun things to discuss!
  </p>
  <div>
    <p class="mb-1">Some of the things I've worked on professionally:</p>
    <ul class="list-disc text-[1rem] ml-4">
      <li>Large Scale Distributed Data Processing framework (Cloud Dataflow/Flume backend)</li>
      <li>ChromeOS/Android (Android Runtime for ChromeOS)</li>
      <li>Google Keep</li>
      <li>Microsoft Windows</li>
      <li>Google Assistant Fulfillment</li>
      <li>TBD...</li>
    </ul>
  </div>
  <div>
    <p class="mb-1">Some of the things I've worked on as a hobby:</p>
    <ul class="list-disc text-[1rem] ml-4">
      <li>Graphics projects (sarekt etc)</li>
      <li>Dependency oriented (DAG) Note taking application</li>
      <li>Matchmaking game server</li>
      <li>Experimentation with Kotlin (poker game) using Compose and Multiplatform</li>
      <li>TBD...</li>
    </ul>
  </div>

  <p>
    I like learning new programming languages, paradigms etc. I dont plan on spending too long here
    or backlogging stuff, so this blog is a henceforth sorta thing.
  </p>

  <p>
    Feel free to reach out at
    {OPEN_CURLY}FIRST{CLOSE_CURLY}{OPEN_CURLY}LAST{CLOSE_CURLY}@gmail.com
  </p>
</Layout>
