---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="flex w-full justify-center items-center">
        <Image
          class="justify-center items-center"
          src="/landing.webp"
          width={300}
          height={300}
          alt=""
        />
      </div>
      <p class="italic mt-3 text-sm text-center max-w-screen-md mx-auto align-middle">
        Generated with DALL-E based on my resume.
      </p>
      <h1>🧑‍🚀 Hello, Visitor!</h1>
      <p>
        My name is Brandon Pollack, Welcome my blog. I built this with the
        <a href="https://astro.build/">Astro</a> blog starter template. Check out my <a
          href="/posts">posts</a
        > or <a href="/about">about</a> page.
      </p>
      <p>
        Feel free to also check out my <a href="https://github.com/brandonpollack23"
          >github profile</a
        >. I have literally everything on there from my first program, so be warned!
      </p>
    </main>
    <Footer />
  </body>
</html>
