---
import { promises as fs } from "node:fs";
import { Prism } from "@astrojs/prism";
import CodeBlock from "./CodeBlock.astro";

const { filename, lang } = Astro.props;

/// WARNING filename must be relative to project root!
---

<div>
  <CodeBlock filename={filename} lang={lang} />
  <div
    class="border-gray-200 border-2 border-l-blue-600 border-l-8 rounded-md shadow-md italic text-sm space-y-2"
  >
    <slot />
  </div>
</div>
